
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/meanmenu.css')}}">
    <!-- Icofont -->
    <link rel="stylesheet" href="C:/Users/Mahajan/Desktop/SIH2020 july/icofont/icofont.min.css">
    <link rel="stylesheet" href="static/icofont/icofont.min.css">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

    <!-- Nice Select JS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/nice-select.css')}}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/owl.theme.default.min.css')}}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/animate.css')}}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/flaticon.css')}}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/responsive.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename= 'css/try.css')}}">

    <title>Recruit Uttarakhand</title>

    <link rel="icon" type="image/png" href="{{url_for('static', filename= 'title1.png')}}">

    <style>
        
        .alert-error {
          border-color: darkred;
          background-color: red;
          color: white;
      }

      .alert-info {
          border-color: orange;
          background-color: yellow;
          color: black;
      }
  </style>

  <script>
    function universal_validation(form){
        // var choice = document.forms["login"]["role"];
        var uname = document.forms["login"]["uname"];
        var password = document.forms["login"]["password"];
        // if(choice.value =="")
        // {
        //     window.alert("Please enter your role");
        //     choice.focus();
        //     return false;
        // }
        if(uname.value =="")
        {
            window.alert("Please enter your username");
            uname.focus();
            return false;
        }
        else if(password.value =="")
        {
            window.alert("Please enter your password");
            password.focus();
            return false;
        }
    }
</script>

</head>
<body>


    <!-- Start Navbar Area -->

    <div class="navbar-area fixed-top" style="text-align: right;">

        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="index.html" class="logo" >
                <img src="static/logo1.png" alt="Logo">
            </a>
        </div>


        <!-- Menu For Desktop Device -->
        <div class="main-nav">
            <a class="navbar-brand" href="index.html" style="float: left;  padding-top: 0px; margin: 0px; padding: 0px; margin-left: 40px;">
                <img src="static/logo1.png" alt="Logo" style="height:53px; width: 90px"> </a>

                <div class="container" style="max-width: 100%">
                    <nav class="navbar navbar-expand-md navbar-light" style="margin-bottom:0px;">
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav" style="padding: 0% 0% 0% 25%;">
                                <li class="nav-item">
                                    <a href="{{ url_for('home')}}" class="nav-link dropdown-toggle">Home </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('about')}}" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('joblist')}}" class="nav-link dropdown-toggle">Jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Blogs</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{{ url_for('blog')}}" class="nav-link">Read Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ url_for('addblog')}}" class="nav-link">Write a Blog</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="{{url_for('contactform')}}" class="nav-link">Contact</a>
                                </li>
                            </ul>
                            <div class="common-btn">
                                <a class="login-btn" href="{{url_for('login')}}">
                                    <i class="icofont-plus-square"></i>
                                    Login
                                </a>
                                <a class="sign-up-btn" href="{{url_for('create_account')}}">
                                    <i class="icofont-user-alt-4"></i>
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Page Title -->
        <div class="page-title-area" style="height:250px; width:100%;">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-text" >
                            <h2>Log In</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <i class="icofont-simple-right"></i>
                                </li>
                                <li>Log In</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Login -->
        
        <div class="login-area pt-100" style="border: 1px solid">
            <div class="container">
                <div class="create-information">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <p class="alert-{{ category }}">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h2>Login Your Account</h2>



                    <form name="login" action="{{ url_for('login') }}" method="POST" onsubmit="return universal_validation()">                         
                        <div class="form-group">
                            <label>Enter Username</label>
                            <input type="text" class="form-control" name= "uname" placeholder="Your username">
                        </div>
                        <div class="form-group">
                            <label>Enter Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>


                        <div class="login-sign-in">
                            <a href="#" onclick="return setMeet();">Forgot Password?</a>
                            <ul>
                                <li>Don’t Have Account ?</li>
                                <li>
                                    <a href="{{url_for('create_account')}}">Sign Up Here</a>
                                </li>
                            </ul>
                            <div class="text-center">
                                <button type="submit" class="btn login-btn">Sign In</button>
                            </div>
                        </div>
                    </form>

                </div> 
            </div>
        </div>
        <!-- End Login -->




        <style>
        .footer {
        background-color:#ffd9b3;
        background: -webkit-gradient(linear, left top, right top, from(#ffd9b3), color-stop(63%, #ffb366));
        color: #FFFFFF;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        }
        </style>
        <div class="footer" style="font-size: 20px;"><center><p> © 2000 – 2018 Code_Crunch Pvt.Ltd All Rights reserved<br>
    All trademarks and copyrights held by respective owners. <br>
        Terms and Policy</p></center></div>



        <div id="myModal" class="modaledu">
            <div class="modaledu-content">
                <div class="modaledu-header">
                    <span class="close" id="spanJ">&times;</span>
                    <h2 style="color: white"> Reset Password link will be mailed to your registered email address! </h2>
                </div>
                <div class="modaledu-body">

                    <form action="{{ url_for('sendemail') }}" method="POST">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label style="color: black">Enter your registered email</label>
                                    <input type="email" class="form-control" name = "rstpw", id="ed" >
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn create-ac-btn vertical-center">Send link</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>

        



        <!-- Essential JS -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Nice Select JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Mixitup JS -->
        <script src="assets/js/jquery.mixitup.min.js"></script>
        <!-- Counter JS -->
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Form Ajaxchimp JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Wow JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/custom.js"></script>

        <script type="text/javascript">

            var modalint = document.getElementById("myModal");
            var spanJ = document.getElementById("spanJ");
            //var table = document.getElementById('joblistbox');

            function setMeet () { 
                modalint.style.display = "block";
            }

            spanJ.onclick = function() {
              modalint.style.display = "none";
          }
      </script>

  </body>
  </html>