<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recruit Uttarakhand</title>
  <link rel="icon" type="image/png" href="static/title1.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/meanmenu.css')}}">
        <!-- Icofont -->
        <link rel="stylesheet" href="static/icofont/icofont.min.css">

        <!-- Nice Select JS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/nice-select.css')}}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/owl.theme.default.min.css')}}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/animate.css')}}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/flaticon.css')}}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/responsive.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
            function universal_validation(form){
            var choice = document.forms["reset"]["role"];
            var email = document.forms["reset"]["email"];
            var password = document.forms["login"]["password"];
            window.alert(choice.value);
            if(choice.value =="")
            {
                window.alert("Please enter your role");
                choice.focus();
                return false;
            }
            else if(email.value =="")
            {
                window.alert("Please enter your email");
                email.focus();
                return false;
            }
            else if(password.value =="")
            {
                window.alert("Please enter your password");
                password.focus();
                return false;
            }
        }
        </script>




</head>
<body>

  <!-- Page Title -->
        <div class="page-title-area" style="height:250px; width:100%;">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-text" >
                            <h2>Password Reset</h2>
                            <ul>
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <i class="icofont-simple-right"></i>
                                </li>
                                <li>Password Reset</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

<div class="login-area pt-100" style="border: 1px solid">
            <div class="container">
                <div class="create-information">     
                  <form id="reset" action="{{ url_for('passwordresetform') }}" method="POST">
                    <div class="form-group">
                      <label>Role</label>
                      <select name="role" id="role" class="form-control" required>
                      <option value="" disabled selected>Select your role</option>
                      <option value="candidate">Candidate</option>
                      <option value="company">Company</option>
                  </select>
                  </div>
                  <div class="form-group">
                      <label>Enter registered Email</label>
                      <input type="text" class="form-control" name= "email" required>
                  </div>
                    <div class="form-group">
                      <label>New Password</label>
                      <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="login-sign-in">
                      <div class="text-center">
                          <button type="submit" class="btn login-btn">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


<style>
  .footer {
  background-color:#ffd9b3;
  background: -webkit-gradient(linear, left top, right top, from(#ffd9b3), color-stop(63%, #ffb366));
  color: #FFFFFF;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  }
  </style>
  <div class="footer" style="font-size: 20px;"><center><p> © 2000 – 2018 Code_Crunch Pvt.Ltd All Rights reserved<br>
All trademarks and copyrights held by respective owners. <br>
  Terms and Policy</p></center></div>
</body>
</html>